{% extends 'base.html' %}

{% block title %}에코챌린지{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="display-3 mb-4">🍳 에코 챌린지_ 오늘의 홈 쿡 🍴</h1>
    <p class="lead mb-5">나만의 요리 일상을 기록하세요</p>
    
    {% if user.is_authenticated %}
        <a href="{% url 'homecook:my_challenge' %}" class="btn btn-primary btn-lg">나의 챌린지</a>
    {% else %}
        <div>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg me-3">로그인</a>
            <a href="/accounts/signup/" class="btn btn-outline-primary btn-lg">회원가입</a>
        </div>
    {% endif %}
</div>
{% endblock %}
