{% load static %}
<header>
  <div class="site-header">
    <h1 class="site-title">홈 쿡 챌린지</h1>

    <nav class="site-nav">
      <ul>
        <li><a href="{% url 'homecook:index' %}">HOME</a></li>
        <li><a href="{% url 'admin:index' %}">Admin Home</a></li>

        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-button">로그아웃</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}" class="nav-button">로그인</a></li>
          <li><a href="{% url 'signup' %}" class="nav-button">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />